<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body>



    <form method="post" action="/sendLink">
        <div class="mb-3">
            <label for="listName" class="form-label">Nome Lista</label>
            <input type="text" class="form-control" name="listName" id="listName" aria-describedby="data_link">
            <div id="data_link" class="form-tex t">Nome da lista.</div>
        </div>
        <div class="mb-3">
            <label for="link" class="form-label">Link</label>
            <input type="text" class="form-control" name="link" id="link" aria-describedby="data_link">
            <div id="data_link" class="form-text">Coloque o link escaneado.</div>
        </div>
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>

    <br><br><br>
    <div id="reader" style="width:300px;display: inline-block; position: relative; padding: 0px; border: 1px solid silver;"></div>
    <div id="result">
        Resultado
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="/src/html5-qr-code.min.js"></script>
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            document.getElementById("link").value = decodedText
            // handle the scanned code as you like, for example:
            //console.log(`Code matched = ${decodedText}`, decodedResult);
            html5QrcodeScanner.clear();
        }

        function onScanFailure(error) {
            // handle scan failure, usually better to ignore and keep scanning.
            // for example:
            //console.warn(`Code scan error = ${error}`);
        }

        let html5QrcodeScanner = new Html5QrcodeScanner(
            "reader",
            { fps: 10, qrbox: { width: 250, height: 250 } },
            /* verbose= */ false);
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    </script>
    <!-- <script src="../src/html5-qr-code.min.js"></script>
    <style>
        .result {
            background-color: green;
            color: #fff;
            padding: 20px;
        }

        .row {
            display: flex;
        }
    </style>


    <div class="row">
        <div class="col">
            <div style="width:500px;" id="reader"></div>
        </div>
        <div class="col" style="padding:30px;">
            <h4>SCAN RESULT</h4>
            <div id="result">Result Here</div>
        </div>
    </div>


    <script type="text/javascript">
        function onScanSuccess(qrCodeMessage) {
            document.getElementById('result').innerHTML = '<span class="result">' + qrCodeMessage + '</span>';
        }

        function onScanError(errorMessage) {
            //handle scan error
        }

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess, onScanError);

    </script> -->





    <!-- <video id="preview" autoplay></video>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

    <script type="text/javascript">
        const video = document.getElementById('video');
        let scanner = new Instascan.Scanner({ video: video });
        scanner.addListener('scan', function (content) {
            alert(content);
        });
        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                scanner.start(cameras[0]);
                scanner.addListener('scan', function (content) {
                    alert('QR code scanned! Content: ' + content);
                    // You can perform additional actions with the scanned content here
                });
            } else {
                console.error('No cameras found on this device.');
            }
        }).catch(function (e) {
            alert('Error accessing camera: ' + e);
        });
    </script> -->
</body>

</html>